div{
    display: block;
}

body {
    margin:0;
}

nav{
    display: block;
}

header{
    background-image: url(../images/AppleLogo.png);
    background-position: 5px -744px;
    background-repeat: no-repeat;
    width: 1450px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
}

.addRow::after {
    content: "";
    clear: both;
    display: table;
}

nav ul{
    list-style-type: none;
}

.container{
    display: flex;
    width: 100%;
    top: 0;
    flex-wrap: wrap;
}

.img1{
   width: 100%;
   height: 500px;
   background-color: beige;
}

.lowerContainer{
    display: flex;
    position: relative;
    width: 100%;
}

.lowerImg1{
        margin-left: 1px;
    width: 25%;
    height: 200px;
    display: block;
    cursor: pointer;
    background-image: url(../images/mobile-1.jpg);
}

.lowerImg2{
        margin-left: 1px;
    width: 25%;
    height: 200px;
    display: block;
    cursor: pointer;
    background-image: url(../images/mobile-2.jpg);
}

.lowerImg3{
        margin-left: 1px;
    width: 25%;
    height: 200px;
    display: block;
    cursor: pointer;
    background-image: url(../images/mobile-3.jpg);
}

.lowerImg4{
        margin-left: 1px;
    width: 25%;
    height: 200px;
    display: block;
    cursor: pointer;
    background-image: url(../images/mobile-4.jpg);
}
